@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(1, 1, 32);
}

input{
    outline: none;
}

.calculator{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 15px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 6px white;
}

.display-section{
    width: 330px;
    height: 130px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-sizing: border-box;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;
    
}

.display{
    width: 100%;
    height: 130px;
    text-align: right;
    font-size: 30px;
    font-weight: bolder;
    border: none;
    background-color: transparent;
    color: white;
    box-sizing: border-box;
    padding: 5px;

}

.display-section textarea:focus{
    display: none;

}

.cbody{
    display: flex;
    flex-direction: column;
    gap: 10px;
    

}

.section{
    display: flex;
    justify-content: space-between;
}

.section input{
    font-size: 48px;
    border: none;
    border-radius: 50%;
    display: flex;
    width: 75px;
    height: 75px;
    justify-content: center;
    align-items: center;
    background-color: rgba(109, 111, 238, 0.178);
    color: white;


}

.section input:active{
    outline: 5px solid rgb(109, 161, 238);
}

#graybtn{
    background-color: rgba(128, 128, 128, 0.582);
    font-size: 30px;
}

#graybtn:active{
    outline: 5px solid white ;
}

#operators{
    background-color: rgb(247, 119, 73);
    color: black;
}

#operators:active{
    outline: 5px solid rgba(247, 120, 73, 0.603);
}

#equ{
    background-color: rgba(74, 236, 174, 0.986);
    color: black;
}
#equ:active{
    outline: 5px solid white;
}

#zeroo{
    width: 150px;
    border-radius: 50px;
}


@media screen and (max-width: 720px){

    .section input{
        font-size: 40px;
        width: 60px;
        height: 60px;
    
    
    }

    #operators{
        background-color: rgba(252, 153, 118, 0.795);
    }

    #zeroo{
        width: 130px;
    }

    .display-section{
        width: 270px;
        height: 130px;
        margin-bottom: 20px;
    }
}
